---
name: Test and Deploy

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
      - master
  pull_request:
      
env:
  PLATFORMS: linux/amd64,linux/arm64

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Test build
      run: docker build . --file Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    #ensure test passes before pushing
    needs: test
    if: github.event_name == 'push'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          flavor: latest=true
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            # tag event
            type=ref,event=tag
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}
            # set date as tag using ISO8601
            type=raw,value={{date 'YYYY-MM-DD'}}
            # get branch or tag that triggered the run
            type=raw,value={{github.ref_name}}

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: ${{ env.PLATFORMS }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Build Image
        uses: docker/build-push-action@v4
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          platforms: ${{ env.PLATFORMS }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
